@model EstadoCivil

@{
    ViewData["Title"] = "Detalles del Estado Civil";
}

<div class="custom-background p-4">
    <h1>@ViewData["Title"]</h1>

    <div>
        <h5>ID: @Model.IdEstadoCivil</h5>
        <h5>Nombre: @Model.Nombre</h5>
        <h5>Fecha de Creación: @Model.FechaCreacion</h5>
        <h5>Usuario de Creación: @Model.UsuarioCreacion</h5>
        <h5>Fecha de Modificación: @Model.FechaModificacion</h5>
        <h5>Usuario de Modificación: @Model.UsuarioModificacion</h5>
    </div>

    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
